*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#0B1724;

    color:#F8FAFC;

}

.navbar{

    display:flex;

}