/* =========================
   GLOBAL STYLES
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#0B1724;
    color:#F8FAFC;
}

/* =========================
   NAVIGATION
========================= */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 10%;

}

.hero{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:0 10%;

}